{%- if outcome in ['Error', 'Failed'] %}
    {%- set outcome_color = "color:red" %}
{%- else %}
    {%- set outcome_color = "color:green" %}
{%- endif %}
<table>
    <tr>
        <th>
            Board
        </th>
        <th>
            Result
        </th>
        <th>
            Log
        </th>
    </tr>
    <tr>
        <td>
            {{ board_name }}
        </td>
        <td>
            {{ outcome }}
        </td>
        <td>
            <table>
                {%- for item in rosie_log %}
                {%- if item|join|length > 0 %}
                <tr>
                    <td>
                    {%- for sub_item in item %}
                        {%- if sub_item.startswith(" -") %}
                        <li>{{ sub_item|replace(" - ", "") }}</li>
                        {%- else %}
                        {{ sub_item }}<br>
                        {%- endif %}
                    {%- endfor %}
                    </td>
                </tr>
                {%- endif %}
                {%- endfor %}
            </table>
        </td>
    </tr>
</table>
<br>
