<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <title>RosiePi Server Status</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="status.css">
    </head>
    <body>
        <h1 font-color="#997BB1">RosiePi Server Status</h1>
        <div class="wrapper">
            <div class="left-box">
            </div>
            <div class="status">
                <table id="server1">
                    <tr>
                        <td>Server Time</td>
                        <td><%= @status_server_time %></td>
                    </tr>
                    <tr>
                        <td>Server Uptime</td>
                        <td><%= @status_server_uptime %></td>
                    </tr>
                </table>
            </div>
            <div class="right-box">
            </div>
        </div>
    </body>
</html>
