<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <title>RosiePi Server Status</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="status.css">
    </head>
    <body>
        <div class="header">
            <p>
                RosiePi Server Status
            </p>
        </div>
        <div class="wrapper">
            <div class="left-box"></div>

            <div class="status-label">
                <table class="server1">
                    <tr>
                        <td>Server Time</td>
                    </tr>
                    <tr>
                        <td>Server Uptime</td>
                    </tr>
                </table>
            </div>

            <div class="status-value">
                <table class="server1">
                    <tr>
                        <td><%= @status_server_time %></td>
                    </tr>
                    <tr>
                        <td><%= @status_server_uptime %></td>
                    </tr>
                </table>
            </div>

            <div class="right-box"></div>
        </div>
    </body>
</html>
