
body {
    background-color: #652F8F;
}

.header {
    background-color: #652F8F;
    color: #997BB1;
    font-size: -webkit-xxx-large;
    font-family:monospace;
    text-align: center;
}

.wrapper {
    display: flex;
    align-items: flex-end;
    flex-direction: row;
}

.left-box {
    align-self: stretch;
    background-color: #652F8F;
    border-color: #E90E8B;
    width: 30%;
}

.right-box {
    align-self: stretch;
    background-color: #652F8F;
    border-color: #E90E8B;
    width: 30%;
}

.status-label, .status-value {
    align-self: center;
    background-color: #754F93;
    width: 20%;
    font-family:monospace;
}

.status-label {
    text-align: right;
    border-right-color: #E90E8B;
    border-right-style: solid;
    border-right-width: thin;
}

table#server1 {
    width: 100%;
    background-color: #754F93;
    padding: 3px;
    color: bisque;
}

table#server1 td {
    color: #ffe4c4;
    font: -webkit-control;
    width: 100%;

}
