
body {
    background-color: #652F8F;
}

.header {
    align-items: center;
    background-color: #652F8F;
}

.wrapper {
    display: flex;
    align-items: flex-end;
    flex-direction: row;
}

.left-box {
    align-self: stretch;
    background-color: #652F8F;
    border-color: #E90E8B;
    width: 30%;
}

.right-box {
    align-self: stretch;
    background-color: #652F8F;
    border-color: #E90E8B;
    width: 30%;
}

.status-label, .status-value {
    align-self: center;
    background-color: #754F93;
    width: 19%;
    padding: 3px;
    color: white;
}

.status-label {
    text-align: right;
    border-right-color: #E90E8B;
    border-style: solid;
    border-width: thin;
}

table#server1 {
    width: 100%;
    background-color: #754F93;
    border-color: #754F93;
    border-style: solid;
}

table#server1 td {
    border-color: #270640;
    border-style: solid;
    color: #ffe4c4;
    font: -webkit-control;

}
